$shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
$blue: #2F75D1;
$red: #DB3052;
$green: #00905B;
$light-gray: #EEEEEE;
$gray: #CCCCCC;
$dark-gray: #555555;
$white: #FFFFFF;
$light-black: #252525;
$black: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: $light-gray;
  text-align: center;
}

button {
  appearance: none;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  box-shadow: $shadow;
  opacity: 0.7;
  transition: 0.3s;
  background-color: $white;

  &:hover {
    opacity: 1;
  }
}

input,
textarea,
select {
  font: inherit;
  display: block;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 0.25rem;
  width: 100%;
  resize: none;
  background-color: $white;
}

.auth {
  h2 {
    margin-top: 1rem;
  }

  p {
    font-size: small;
  }

  form {
    width: 350px;
    margin: auto;
    text-align: left;

    label {
      display: block;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
    }

    .btn-login {
      margin: 0.5rem 0 0 0;
      color: $dark-gray;

      &:hover {
        background-color: $dark-gray;
        border-color: $dark-gray;
        color: $white;
      }
    }

    p {
      color: $red;
      margin: 0.5rem 0
    }
  }

  label {
    margin-top: 1rem;
  }

  .account {
    margin-top: 1rem;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('./assets/background.png');
  background-size: cover;
  padding: 0 7%;
  box-shadow: $shadow;

  .logo {
    font-size: 2rem;
    color: $white;
    text-shadow: 1px 1px 2px $black;
    ;
    font-weight: bold;
    text-decoration: none;
  }

  button {
    color: $dark-gray;
    border-color: $dark-gray;
    width: 100px;

    &:hover {
      background-color: $dark-gray;
      border-color: $dark-gray;
      color: $white;
    }
  }
}

.home {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;

  input[type="text"].filter {
    width: 40%;
    margin: 1rem auto;
  }

  .add-btn {
    color: $dark-gray;
    border-color: $dark-gray;
    width: 100px;

    &:hover {
      background-color: $dark-gray;
      border-color: $dark-gray;
      color: $white;
    }
  }

  .card {
    background-color: $white;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border: none;
    box-shadow: $shadow;

    h5 {
      margin: 0.25rem 0;
      font-weight: 100;
    }

    .container-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .view-btn {
        color: $blue;
        border-color: $blue;
        width: 100px;

        &:hover {
          background-color: $blue;
          border-color: $blue;
          color: $white;
        }
      }

      .edit-btn {
        color: $green;
        border-color: $green;
        width: 100px;

        &:hover {
          background-color: $green;
          border-color: $green;
          color: $white;
        }
      }

      .delete-btn {
        color: $red;
        border-color: $red;
        width: 100px;

        &:hover {
          background-color: $red;
          border-color: $red;
          color: $white;
        }

      }

      .pdf-btn {
        color: $light-black;
        border-color: $light-black;
        width: 100px;

        &:hover {
          background-color: $light-black;
          border-color: $light-black;
          color: $white;
        }
      }
    }



    .container-images {
      margin: 0.5rem 0;

      img {
        width: 140px;
        margin: 0 0.5rem 0 0;
        max-height: 80px;
        object-fit: cover;
        border: 1px solid $dark-gray;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
        cursor: zoom-in;
      }
    }
  }

  label {
    display: block;
    margin: 1rem 0 0.25rem 0;
    text-decoration: underline;
  }

  ol,
  ul {
    list-style-position: inside;
    display: block;
  }

  li {
    line-height: 1.5;
    margin: 0.3rem 0;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: left;

    .inner {
      background-color: $light-gray;
      padding: 1rem;
      width: 100%;
      max-width: 480px;
      overflow: auto;
      max-height: calc(100vh - 4rem);

      h2 {
        margin-bottom: 1rem;
        color: $dark-gray;
      }

      .icon {
        cursor: pointer;
        font-size: large;
      }

      .add-btn {
        color: $blue;
        border-color: $blue;
        width: 120px;

        &:hover {
          background-color: $blue;
          border-color: $blue;
          color: $white;
        }
      }

      .container-image {
        display: flex;
        flex-wrap: wrap;

        img {
          width: 160px;
          max-height: 80px;
          object-fit: cover;
          border: 1px solid $dark-gray;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
          cursor: zoom-in;
          margin-bottom: 0.5rem;
        }

        .image-container {
          position: relative;
          margin-right: 10px;

          .icon {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: $white;
            color: $black;
            border: 2px solid $black;
            padding: 2px;
            cursor: pointer;
          }
        }
      }

      .container-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .submit-btn {
          color: $green;
          border-color: $green;
          width: 100px;

          &:hover {
            background-color: $green;
            border-color: $green;
            color: $white;
          }
        }

        .close-btn {
          color: $red;
          border-color: $red;
          width: 100px;

          &:hover {
            background-color: $red;
            border-color: $red;
            color: $white;
          }
        }

        .icon {
          cursor: pointer
        }
      }
    }

    .zoom-img {
      padding: 1rem;
      width: auto;
      max-width: auto;
      overflow: auto;
      max-height: calc(100vh - 4rem);
      text-align: center;

      .full-image {
        display: block;
        max-height: 350px;
        max-width: 500px;
      }
    }
  }

  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    resize: vertical;
    max-height: 150px;
    margin-bottom: 0.3rem;

  }

  input[type="file"].inputfile {
    display: block;
    margin: 1rem 0;
    resize: none;
    padding-left: 0.2rem;
  }
}


.snackbar {
  min-width: 250px;
  margin-left: -125px;
  background-color: $dark-gray;
  color: $light-gray;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.not-found {
  margin-top: 2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin: 2rem auto;
  width: 50px;
  height: 50px;
  border: 10px solid $gray;
  border-top: 10px solid $light-black;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}